<div class="preloader-wrapper big active" *ngIf="loading && !error">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

<h3 *ngIf="error">ERROR: {{ error }}</h3>

<div *ngIf="!loading && !error">
  <h5><a href="#" (click)=(goBack())>< {{ language.getMessage('back') }}</a></h5>

  <ul *ngIf="this.qoeResults">
    <li><h5>Quality Of Experience: {{ toPercentage( qoeResults.getQoE()) }}%</h5>
      <div class="progress">
        <div class="determinate" [ngStyle]="qualityOfExperienceStyle"></div>
      </div>
    </li>
    <li><h5>Average delay</h5>
      <p><i class="mdi mdi-chart-bar"></i> {{ toPercentage(qoeResults.getAvgDelay().score) }} %</p>
      <p><i class="mdi mdi-clock"></i> {{ toTime(qoeResults.getAvgDelay().value.valueOf()) }}</p>
    </li>
    <li><h5>Average Changes</h5>
      <p><i class="mdi mdi-chart-bar"></i> {{ toPercentage(qoeResults.getAvgChangesAmount().score) }} %</p>
      <p><i class="mdi mdi-walk"></i> {{ qoeResults.getAvgChangesAmount().value }}</p>
    </li>
    <li><h5>Change Time</h5>
      <p><i class="mdi mdi-chart-bar"></i> {{ toPercentage(qoeResults.getAvgChangeTime().score) }} %</p>
      <p><i class="mdi mdi-clock"></i> {{ toTime(qoeResults.getAvgChangeTime().value.valueOf()) }}</p>
    </li>
    <li><h5>Delay consistency</h5>
      <p><i class="mdi mdi-chart-bar"></i> {{ toPercentage(qoeResults.getDelayConsistency().score) }} %</p>
      <p><i class="mdi mdi-chart-line"></i> {{ qoeResults.getDelayConsistency().value.valueOf() }}</p>
    </li>
    <li><h5>Average travel time</h5>
      <p><i class="mdi mdi-chart-bar"></i> {{ toPercentage(qoeResults.getAvgTravelTime().score) }} %</p>
      <p><i class="mdi mdi-clock"></i> {{ toTime(qoeResults.getAvgTravelTime().value.valueOf()) }}</p>
    </li>
    <li><h5>Routes per hour</h5>
      <p><i class="mdi mdi-chart-bar"></i> {{ toPercentage(this.qoeResults.getNumberOfRoutesWithinHour().score) }} %</p>
      <p><i class="mdi mdi-train"></i> {{ this.qoeResults.getNumberOfRoutesWithinHour().value }}</p>
    </li>
    <li><h5>Missed connections</h5>
      <p><i class="mdi mdi-link-variant-off"></i> {{ this.qoeResults.getNumberOfMissedConnections().value }}</p>
    </li>
  </ul>


  <!-- <h5><a href="#" (click)=(goBack())>< {{ language.getMessage('back') }}</a></h5>
  <section class="row">
    <aside class="col s3">
      <h5>{{ language.getMessage('departure') }}</h5>
    </aside>
    <aside class="col s3">
      <h5>{{ language.getMessage('destination') }}</h5>
    </aside>
    <aside class="col s4">
      <h5>{{ language.getMessage('qualityofexperience') }}</h5>
    </aside>
    <aside class="col s2"></aside>
  </section>
  <connection></connection>
  <connection></connection>
  <connection></connection>
  <connection></connection> -->
</div>
