<h5><a href="#" (click)="goBack()">< Go back</a></h5>

<section class="row">
    <aside class="col s8">
        <h5>{{ train }}</h5>
    </aside>
    <aside class="col s2">
        <mz-progress
            [backgroundClass]="'blue lighten-4'"
            [percentage]="(percentage)"
            [progressClass]="'blue'">
        </mz-progress>
    </aside>
    <aside class="col s2">
        <a href="#">Details ></a>
    </aside>
</section>

<section class="row">
<aside class="col s10">
    <table>
        <thead>
            <tr>
                <th>Depart</th>
                <th>Station</th>
                <th>Platform</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>06:35</th>
                <th>Gent-Sint-Pieters</th>
                <th>05</th>
            </tr>
            <tr>
                <td>07:50</td>
                <td>Brussel-Zuid</td>
                <td>07</td>
            </tr>
            <tr>
                <th>08:15</th>
                <th>Brussel-Noord</th>
                <th>07</th>
            </tr>
        </tbody>
    </table>
</aside>
</section>