<section class="row">
    <aside class="col s3">
        <strong>{{ depart }}</strong>
    </aside>
    <aside class="col s3">
        <strong>{{ arrival }}</strong>
    </aside>
    <aside class="col s4">
        <div class="progress">
            <div class="determinate" {{ `style="width: ${percentage}%"` }}></div>
        </div>
    </aside>
    <aside class="col s2">
        <a (click)="getDetails()">{{ language.getMessage('details') }} ></a>
    </aside>
</section>
<section class="row">
    <aside class="col s2">
        <p>{{ departTime }}</p>
    </aside>
    <aside class="col s1">
        <p>{{ departPlatform }}</p>
    </aside>
    <aside class="col s2">
        <p>{{ arrivalTime }}</p>
    </aside>
    <aside class="col s1">
        <p>{{ arrivalPlatform }}</p>
    </aside>
    <aside class="col s6"></aside>
</section>