<md-expansion-panel>
    <md-expansion-panel-header>
        <mat-panel-title><i class="mdi mdi-train"></i> 8:05</mat-panel-title>
        <mat-panel-description><strong>7.5 </strong>/ 10
            <div class="bar-container valign-wrapper">
                <md-progress-bar
                    class="example-margin"
                    [value]="75">
                </md-progress-bar>
            </div>
        </mat-panel-description>
    </md-expansion-panel-header>
    <div class="row">
        <div class="col m4">
            <h1 class="route-header"><i class="mdi mdi-train"></i> 00:25</h1>
            <p class="route-subheader">Minuten vertraging</p>
        </div>
        <div class="col m4">
            <h1 class="route-header"><i class="mdi mdi-train"></i> 00:25</h1>
            <p class="route-subheader">Minuten vertraging</p>
        </div>
        <div class="col m4">
            <h1 class="route-header"><i class="mdi mdi-train"></i> 00:25</h1>
            <p class="route-subheader">Minuten vertraging</p>
        </div>
        <div class="col m4">
            <h1 class="route-header"><i class="mdi mdi-train"></i> 00:25</h1>
            <p class="route-subheader">Minuten vertraging</p>
        </div>
    </div>
</md-expansion-panel>
