<main>
    <!-- This might change a lot in design phase -->

    <header>
      <h1 class="oasis-text--secondary"><img class="logo" src="assets/img/logo-white.png" />Proof of concept</h1>
    </header>
    <div class="oasis-layout__content">
      <connectionquery (routeUpdated)='handleRouteUpdate($event)'></connectionquery>
      <graphsection></graphsection>
    </div>
    <footer>
      <p class="oasis-footer__text">&copy; 2017 All rights reserved</p>
      <p class="oasis-footer__text">Learn more about the project on <a href="https://oasis.team/" target="_blank">OASIS.team</a> or <a href="https://github.com/oSoc17/oasis-hackathon/" target="_blank">GitHub</a></p>
    </footer>
</main>
