<mz-dropdown
  [id]="'dropdown-demo'"
  [align]="'right'"
  [constrainWidth]="true"
  [dropdownButtonId]="'btn-dropdown-demo'"
  [gutter]="true"
  [inDuration]="300"
  [outDuration]="300"
  [stopPropagation]="true"
>
  <li *ngFor="let lang of languages">
    <mz-dropdown-item ><a href="#!" (click)='onSelect()' id="{{ lang['tag'] }}">{{ lang['name'] }}</a></mz-dropdown-item>
  </li>

</mz-dropdown>
<a mz-button id="btn-dropdown-demo" href="#"><i class="material-icons left">cloud</i>{{ currentLanguage }}</a>
