<h5>{{ name }} <md-icon class="grey-text" mdTooltip="{{ tooltip }}">help_outline</md-icon></h5>
<button (click)="changeVal(0)" md-icon-button color="accent">
    <md-icon>train</md-icon>
</button>
<button (click)="changeVal(1)" md-icon-button color="accent">
    <md-icon>tram</md-icon>
</button>
<button (click)="changeVal(2)" md-icon-button color="accent">
    <md-icon>directions_bus</md-icon>
</button>
<button (click)="changeVal(3)" md-icon-button color="accent">
    <md-icon>airplanemode_active</md-icon>
</button>