<h5>{{ name }} <mat-icon class="grey-text" matTooltip="{{ tooltip }}">help_outline</mat-icon></h5>
<mat-button-toggle-group value="{{ choice }}">
    <mat-button-toggle class="multiple-choice-button" value="0" (click)="changeVal(0)" mat-icon-button color="accent">
        <mat-icon class="multiple-choice-icon" svgIcon="{{ icons[0] }}">{{ icons[0] }}</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle class="multiple-choice-button" value="1" (click)="changeVal(1)" mat-icon-button color="accent">
        <mat-icon class="multiple-choice-icon" svgIcon="{{ icons[1] }}">{{ icons[1] }}</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle class="multiple-choice-button" value="2" (click)="changeVal(2)" mat-icon-button color="accent">
        <mat-icon class="multiple-choice-icon" svgIcon="{{ icons[2] }}">{{ icons[2] }}</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle class="multiple-choice-button" value="3" (click)="changeVal(3)" mat-icon-button color="accent">
        <mat-icon class="multiple-choice-icon" svgIcon="{{ icons[3] }}">{{ icons[3] }}</mat-icon>
    </mat-button-toggle>
</mat-button-toggle-group>
