<h1>{{ language.getMessage('options') }}</h1>
<button class="btn waves-effect waves-light" type="submit" name="action"
                    (click)='resetOptions()'>
    {{ language.getMessage('resetOptions') }}
</button>
<languagechooser></languagechooser>
<h2>{{ language.getMessage('preferences') }}</h2>
<p>{{ language.getMessage('prefExplenation') }}</p>
<!--qoe-slider *ngFor="let sl of slider" [tooltip]= "sl.tooltip" [name]="sl.name" [percentage]="sl.value" [id]="sl.id"></qoe-slider-->
<time-choice [tooltip]="delay.tooltip" [name]="delay.name" [time]="delay.value" [id]="delay.id" [unit]="delay.unit"></time-choice>
<multiple-choice [tooltip]="delay.tooltip" [name]="delay.name" [choice]="delay.value" [id]="delay.id"></multiple-choice>
