<h5>{{ name }}
    <mat-icon class="grey-text" matTooltip="{{ tooltip }}">help_outline</mat-icon>
</h5>
<mat-slider class="slider-choice-slider" min="{{ min }}" max="{{ max }}" value="{{ time }}" [(ngModel)]="time" [thumb-label]="true" (change)="changeVal(time)"></mat-slider>
<mat-form-field>
    <label>
        <input class="slider-choice-input browser-default" matInput [min]="min" [max]="max" value="{{ time }}" [(ngModel)]="time" (change)="changeVal(time)" type="number" required>
        {{ unit }}
    </label>
</mat-form-field>
