.connquery {
    label {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.7rem;
    }
    .display-block {
        display: block;
    }

    .label-margin {
        margin-bottom: 10px;
    }
}
