<footer class="page-footer light-blue lighten-1">
    <section class="container">
        <p class="white-text">
            {{ language.getMessage('references')[0] }}
            <a href="https://oasis.team/" class="white-text link" target="_blank">OASIS.team</a>
            {{ language.getMessage('references')[1] }}
            <a href="https://github.com/oSoc17/oasis-frontend/" class="white-text link" target="_blank">GitHub <i class="mdi mdi-github-circle"></i></a></p>
    </section>
    <section class="footer-copyright light-blue lighten-1">
        <section class="container">
            <p class="white-text text-lighten-3">{{ language.getMessage('licence') }}</p>
        </section>
    </section>
</footer>
