<div class='row'>
    <h4>Calculate tripscore</h4>
    <div class='col l6 connquery'>
        <md-card>
            <!--<h4>{{ language.getMessage('searchHeader') }}</h4>-->
            <label>{{ language.getMessage('departure') }}</label>
            <stationlist #departure></stationlist>
            <label>{{ language.getMessage('destination') }}</label>
            <stationlist #arrival></stationlist>

            <div class="col s6">
            <label>{{ language.getMessage('time') }}</label>
            <traveltime></traveltime>
            </div>
            <div class="col s6">
            <label>{{ language.getMessage('date') }}</label>
            <traveldate></traveldate>
            </div>

            <p>{{ error }}</p>
            <button class="btn waves-effect waves-light teal accent-4" type="submit" name="action"
                    (click)='clickCalculate()'>
                {{ language.getMessage('showAlts') }}
            </button>
        </md-card>
    </div>
    <div class="col l6">
        <h5 class='grey-text darken-3'>Recents</h5>
        <md-list dense>
            <a href="">
                <md-list-item>
                    <h4 md-line>Gent-Sint-Pieters - Brugge</h4>
                    <p md-line>8:30 monday</p>
                    <i class="material-icons">send</i>
                </md-list-item>
            </a>
            <md-divider></md-divider>
            <md-list-item>
                <h4 md-line>Antwerpen-Centraal - Brussel-Noord</h4>
                <p md-line>16:45 wednesday</p>
                <i class="material-icons">send</i>
            </md-list-item>
        </md-list>
    </div>
</div>
