    <h5 class='grey-text darken-3'>{{ language.getMessage('recents') }}</h5>
    <mat-list dense>
        <a class="cursor-pointer" (click)="onClick(recent)" *ngFor="let recent of recents">
            <mat-divider></mat-divider>
            <mat-list-item>
                <h4 mat-line>{{ recent.depStationReadable }} - {{ recent.arrStationReadable }}</h4>
                <p mat-line>{{ recent.travelTimeReadable }} {{ language.getMessage('weekdays')[recent.travelDay]}}</p>
                <i class="material-icons">send</i>
            </mat-list-item>
        </a>
    </mat-list>
