<mat-form-field class="stationList">
  <input class="browser-default" matInput [matAutocomplete]="auto" [formControl]="stationCtrl"  >
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" >
  <mat-option *ngFor="let station of qresults"
             [value]="station.standardname"
             (onselect)="filterStations(station.standardname);requestFocusNext()">
      {{ station.standardname }}
      <img src='{{ imgstart + station.company + ".png" }}' class="line-end-img"/>
      <span *ngFor="let ttype of transportTypes" >
        <mat-icon  *ngIf='station.type == ttype.type' class="line-end-img">{{ ttype.icon }}</mat-icon>
      </span>
  </mat-option>
</mat-autocomplete>
