<div class="row">
    <div class="col s1 day">M</div>
    <div class="col s1 day">T</div>
    <div class="col s1 day">W</div>
    <div class="col s1 day">T</div>
    <div class="col s1 day">F</div>
    <div class="col s1 day">S</div>
    <div class="col s1 day">S</div>
</div>
<div class="row checks">
    <div class="col s1 day" (click)="clickDay(0)" [ngClass]="selectedDays[0] ? 'active' : ''">
        <i mz-icon-mdi
            [align]="'center'"
            [icon]="'check'"
            [size]="'small'">
        </i>
    </div>
    <div class="col s1 day" (click)="clickDay(1)" [ngClass]="selectedDays[1] ? 'active' : ''">
        <i mz-icon-mdi
            [align]="'center'"
            [icon]="'check'"
            [size]="'small'">
        </i>
    </div>
    <div class="col s1 day" (click)="clickDay(2)" [ngClass]="selectedDays[2] ? 'active' : ''">
        <i mz-icon-mdi
            [align]="'center'"
            [icon]="'check'"
            [size]="'small'">
        </i>
    </div>
    <div class="col s1 day" (click)="clickDay(3)" [ngClass]="selectedDays[3] ? 'active' : ''">
        <i mz-icon-mdi
            [align]="'center'"
            [icon]="'check'"
            [size]="'small'">
        </i>
    </div>
    <div class="col s1 day" (click)="clickDay(4)" [ngClass]="selectedDays[4] ? 'active' : ''">
        <i mz-icon-mdi
            [align]="'center'"
            [icon]="'check'"
            [size]="'small'">
        </i>
    </div>
    <div class="col s1 day" (click)="clickDay(5)" [ngClass]="selectedDays[5] ? 'active' : ''">
        <i mz-icon-mdi
            [align]="'center'"
            [icon]="'check'"
            [size]="'small'">
        </i>
    </div>
    <div class="col s1 day" (click)="clickDay(6)" [ngClass]="selectedDays[6] ? 'active' : ''">
        <i mz-icon-mdi
            [align]="'center'"
            [icon]="'check'"
            [size]="'small'">
        </i>
    </div>
</div>