<input type="radio" name="timeType" [(ngModel)]="selectedType" value="depart" class="timeType" (change)='changeType()' id="departType" checked>
<label for="departType">{{ language.getMessage('departure') }}</label>
<input type="radio" name="timeType" [(ngModel)]="selectedType" value="arrival" class="timeType" (change)='changeType()' id="arrivalType">
<label for="arrivalType">{{ language.getMessage('destination') }}</label>
<input type="time" class="time timepicker" [(ngModel)]="selectedTime" (change)='changeTime()' />
