.route-header {
  margin-bottom: 0;
  color: #000;
}

.route-subheader {
  margin-top: 0;
}

.bar-container {
  width: 100%;
  height: 100%;
  max-width: 250px;
  padding: 0 25px;
  margin: auto;
}

.basedOn {
  color: gray;
  float: right;
}

.score-icon {
  font-size: 1.2em;
  height: 1.2em;
  width: 1.2em;
}

h1 {
    text-transform: none;
}