/* GENERAL PAGE CSS */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: Montserrat;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}