.logo {
    height: 30px;
    padding-top: 10px;
    width: auto;
}

footer {
    margin-top: 25px;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
}

h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

h3 {
    text-transform: uppercase;
    font-size: 2rem;
}